<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etapa 1</title>

    <style>
        body{
            background-color: rgb(197, 11, 11);
        }
        .titulo{
            text-align: center;
            background-color: black;
            color: white;
            margin: 0;
            padding-bottom: 20px;
            width: 100%;
        }
        .nome{
            text-align: center;
            font-style: bold;
            margin-bottom: 0;
        }
        .aucunha{
            text-align: center;
            font-style: italic;
            margin-top: 5px;
        }

        nav {
        background-color: rgba(210, 77, 62, 0.7);
        padding: 1px;
        text-align: center;
        }
        
        nav a{
            background-color: darkred;
            padding: 2px;
            color: antiquewhite;
            border: 2px solid rgb(221, 181, 181);
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="index">
        <main>
            <header class="titulo">
                <a href=""><img src="" alt=""></a>
                <h1 class="nome">Royal Sports</h1>
                <p class="aucunha">O Leão Imperial</p>
            </header>
            <nav>
                <h2>
                    <a href="etapa1">etapa 1</a>
                    <a href="etapa2">etapa 2</a>
                    <a href="etapa3">etapa 3</a>
                </h2>
            </nav>
            <div>
                <form method="post" action='/submit_form'>
                    <fieldset>
                        <label for="categoria">Insira a categoria desejada
                            <select id="categoria" name="categoria">
                                <option value="">(select one)</option>
                                <option value="roupa">Roupa</option>
                                <option value="calcado">Calçados</option>
                                <option value="bola">Bolas</option>
                                <option value="outro">Outros</option>
                            </select>
                        </label>
                        <label for="marca">Insira a marca desejada
                            <select id="marca" name="marca">
                                <option value="">(select one)</option>
                                <option value="nike">Nike</option>
                                <option value="adidas">Adidas</option>
                                <option value="wilson">Wilson</option>
                                <option value="outro">Outros</option>
                            </select>
                        </label>
                      <label for="cor">Insira a cor desejada
                        <select id="cor" name="cor">
                          <option value="">(select one)</option>
                          <option value="multiplas">Cores Múltiplas</option>
                          <option value="branco">Branco</option>
                          <option value="preto">Preto</option>
                          <option value="laranja">Laranja</option>
                          <option value="outro">Outros</option>
                        </select>
                      </label>
                    </fieldset>
                    <input type="submit" value="Submit" />
                  </form>

            </div>
            <div class="container text-center">

                <h2> Exemplo:  {{ titulo}} </h2>

                  <table class="table table-bordered">
                
                    <thead>
                        <tr> 
                            <th>categoria</th>
                  
                            <th>tipo</th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        {% for codigo, produto in catalogo.items()%}
                            <tr>
                              
                                <td>{{codigo}}</td>
                  
                                <td>{{produto.tipo}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                
                </table>

                <form method="post", action="">
                    <fieldset>
                        <label for="categoria">Insira a categoria: <input id="categoria" name="categoria" type="text" required /></label>
                        <label for="tipo">Insira o tipo: <input id="tipo" name="tipo" type="text" required /></label>
                        <label for="marca">Insira a marca: <input id="marca" name="marca" type="text" required /></label>
                        <label for="modelo">Insira o modelo: <input id="modelo" name="modelo" type="text" required /></label>
                        <label for="cor">Insira a porra da cor: <input id="cor" name="cor" type="text" required> </label>
                        <label for="valor">Insira o valor: <input id="valor" name="valor" type="number" required></label> 
                        <label for="estoque">Insira o estoque: <input id="estoque" name="estoque" type="number" required></label>
                        
                    </fieldset>
                    <input type="submit" value="Submit" />
                </form>
              
              </div>
            <section>
                <h2></h2>forms
                
            </section>
            <section>
                tabela
            </section>
        </main>
        <footer class="cabecalho">
            <section>
                <h2></h2>Cabeçalho
            </section>
        </footer>
    </div>  
</body>
</html>