<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etapa 2</title>
    <script>
        function validateForm(event) {
            // Obtendo os valores dos campos de input           
            var idMenor = document.getElementById('idmenor').value;
            var idMaior = document.getElementById('idmaior').value;

            // Convertendo os valores para números
            idMenor = Number(idMenor);
            idMaior = Number(idMaior);

            // Verificando se o valor de idMenor é menor que o valor de idMaior
            if (idMenor >= idMaior) {
                // Se não for, exibe uma mensagem de erro e impede o envio do formulário
                alert("O valor do ID menor deve ser menor do que o valor do ID maior.");
                event.preventDefault();
            }
        }

        // Adiciona um listener para o evento de submit do formulário
        window.onload = function() {
            document.getElementById('consultaForm').addEventListener('submit', validateForm);
        };
    </script>
</head>
<body>
    <div class="index">
        <main>
            <header  class="titulo">
                <div class="imagem_logo">
                    <a href=""><img src="src/img/logo-home.png" alt="Logo da Leão Imperial" height="120"></a>
                </div>
                <div class="texto">
                    <h1 class="nome">Royal Sports</h1>
                    <p class="aucunha">O Leão Imperial</p>
                </div>
            </header>
            <nav>
                <h2>
                    <a class="etapa1" href="etapa1">etapa 1</a>
                    <a class="etapa2" href="etapa2">etapa 2</a>
                    <a class="etapa3" href="etapa3">etapa 3</a>
                </h2>
            </nav>
            <div class="container text-center">

                <h2 class="titulo_tabela"> {{ titulo}} </h2>

                <fieldset>
                    <table class="table">
                
                        <thead>
                            <tr> 
                                <th>ID</th>
                    
                                <th>Categoria</th>

                                <th>Tipo</th>

                                <th>Marca</th>

                                <th>Modelo</th>

                                <th>Cor</th>

                                <th>Valor</th>

                                <th>Estoque</th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            {% for codigo, produto in catalogo.items()%}
                                <tr>
                                
                                    <td>{{codigo}}</td>

                                    <td>{{produto.categoria}}</td>
                    
                                    <td>{{produto.tipo}}</td>

                                    <td>{{produto.marca}}</td>

                                    <td>{{produto.modelo}}</td>

                                    <td>{{produto.cor}}</td>

                                    <td>{{produto.valor}}</td>

                                    <td>{{produto.estoque}}</td>
                                </tr>
                            {%endfor%}
                        </tbody>
                
                    </table>
                </fieldset>
            <form action="/imprime_ordem" method="get">
                <button type="submit">Ordem</button>
            </form>
            <h3>Pesquisar Produto no Catálogo</h3>
                <form method="post", action="/pesquisa">
                    <fieldset>
                        <div class="row">
                            <label for="chave">Insira o ID do produto desejado: <input id="chave" name="chave" type="number" required /></label>
                        </div>
                    </fieldset>
                    <input type="submit" value="Submit" />
                </form>
            <h3>Pesquisar Produtos Com IDs Menores Que O Inserido</h3>
                <form method="post", action="/imprime_menor">
                    <fieldset>
                        <div class="row">
                            <label for="id">Consultar ID menor que: <input id="id" name="id" type="number" required /></label>
                        </div>
                    </fieldset>
                    <input type="submit" value="Submit" />
                </form>
            <h3>Pesquisar Produtos Com IDs Maiores Que O Inserido</h3>
                <form method="post", action="/imprime_maior">
                    <fieldset>
                        <div class="row">
                            <label for="id">Consultar ID maior que: <input id="id" name="id" type="number" required /></label>
                        </div>
                    </fieldset>
                    <input type="submit" value="Submit" />
                </form>
            <h3>Pesquisar Produtos Com IDs Maiores Que O Inserido</h3>
                <form method="post", action="/imprime_entre" id="consultaForm">
                    <fieldset>
                        <div class="row">         
                            <label for="idmenor">Consultar ID maior que: <input id="idmenor" name="idmenor" type="number" required /></label>                  
                            <label for="idmaior">Consultar ID menor que: <input id="idmaior" name="idmaior" type="number" required /></label> 
                        </div>
                    </fieldset>
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <aside>
                aside
            </aside>
            <section>
                <h2></h2>Corpo + descrição da empresa
            </section>
            <article>
                article
                <i class="fa fa-instagram"></i>
            </article>
        </main>
        <footer class="cabecalho">
            <section>
                <h2></h2>Cabeçalho
            </section>
             
            <section> <!-- REDES SOCIAIS -->
                <ul>
                    <li class="item"> 
                        <a href="https://www.instagram.com/centauroesporte/">
                            <i class="icon fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="item"> 
                        <a href="https://www.instagram.com/centauroesporte/">
                            <i class="icon fa fa-linkedin in"></i>
                        </a>
                    </li>

                </ul>
            </section>
            
        </footer>
</body>
</html>